<section class="subscribe" id="subscribe">
            <div class="container">
            <div class="cont-subscribe">

                <div class="wrap-text-block">
                    <div class="text-block">
                        <h1 class="title-thin">Join Our Coffee Community</h1>
                        <p class="paragraph">Experience the joy of coffee delivered right to your door.
                        Sign up today!</p>
                    </div>

                    <div class="text-block">
                        <form class="form-subscribe" novalidate>
                            <div class="wrapper">
                                <input class="input-subscribe" type="email" name="email" placeholder="Your Email Here"
                                required pattern="^\S+@\S+\.\S+$" title="example@mail.com">
                                <span class="error-text">Error text</span>
                            </div>
                            <button class="button-subscribe" type="submit">
                            Subscribe
                                <svg class="subscr-svg" width="28" height="28">
                                  <use href="./images/icons.svg#icon-chevrons-right"></use>
                                </svg>
                            </button>
                        </form>
                        <p class="small-paragraph">By clicking Get Started, you agree to our Terms and Conditions.</p>
                    </div>
                </div>

                <div class="image-block">
                    <img class="subscribe-img" width="640" , height="400" src="./images/Subscribe/subscribe-img.jpg"
                        srcset="./images/Subscribe/subscribe-img.jpg 1x, ./images/Subscribe/subscribe-img@2x.jpg 2x"
                        alt="Cafe full of people.">
                </div>
            </div>
            </div>
        </section>
